<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="schooling.com.epizy.someone.schooling">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile" android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity android:name=".add_subject" android:theme="@style/Theme.Design.Light.NoActionBar" />
    </application>

</manifest>